[user]
	name = miacro
	email = fqguozhou@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[alias]
	lof = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by:%cN' --abbrev-commit --date=relative 
[credential]
	helper = store
