[Unit]
Description=spawn-fcgi
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/spawn-fcgi.d/%i
ExecStartPre=/bin/mkdir -p /run/fastcgi
ExecStart=/usr/bin/spawn-fcgi $SPAWN_FCGI_ARGS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target
