[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.service

[Service]
User=root
ExecStart=/usr/bin/kube-proxy \
  --master=http://0.0.0.0 \
  --logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
